@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Bangers&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

#game-info {
  font-style: italic;
}

h3 {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

#tic-tac-toe-board,
#player-x,
#player-o {
  font-family: "Atma", system-ui;
  font-weight: 600;
  font-style: normal;
}

#tic-tac-toe-board {
  font-size: 24px;
}

#game-scores > [id*="score"] {
  font-weight: 600;
  font-style: bold;
}

@layer reference {
  /* Bangers */
  .bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  /* Atma */
  .atma-light {
    font-family: "Atma", system-ui;
    font-weight: 300;
    font-style: normal;
  }
  
  .atma-regular {
    font-family: "Atma", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .atma-medium {
    font-family: "Atma", system-ui;
    font-weight: 500;
    font-style: normal;
  }
  
  .atma-semibold {
    font-family: "Atma", system-ui;
    font-weight: 600;
    font-style: normal;
  }
  
  .atma-bold {
    font-family: "Atma", system-ui;
    font-weight: 700;
    font-style: normal;
  }
  
  /* Roboto */
  /*.roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }*/
}