:root {
  --body-background: rgb(27, 34, 53);
  --body-height: 100vh;
  --body-width: 230px;
  --body-margin: 0 auto;
  /*--overlay-background: rgba(0, 0, 0, 0.98);*/
  --overlay-background: rgba(27, 34, 53, 0.98);
  --text-color: rgb(255, 250, 250);
  --player-X-color: var(--text-color);
  --player-O-color: rgb(85, 193, 251);
  --block-background: rgba(83, 83, 83, 0.285);
  --block-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.4);
  --block-border-radius: 10px;
  --block-padding: 10px;
  --block-margin: 0 0 10px;
  --player-background: rgba(83, 83, 83, 0.7);
  --player-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
  --current-player-box-shadow: 0px 0px 6px 2px rgba(255, 255, 255, 0.58);
  --player-border-radius: 3px;
  --player-padding: 3px;
  --player-width: 30px;
  --tic-tac-toe-border-color: rgba(83, 83, 83, 0.645);
  --winning-strike-color: snow;
  --strike-line-thickness: 2px;
  --board-disabled-opacity: 0.3;
  --loading-wrapper-font-size: 24px;
  --alert-wrapper-font-size: 16px;
}

/*@layer debug {
  :root {
    --debug-background: rgba(240, 248, 255, 0.35);
    --debug-background: none;
  }

  #main-container > div {
    background: var(--debug-background);
  }
}*/

body {
  height: var(--body-height, 100vh);
  width: var(--body-width, 260px);
  margin: var(--body-margin, 0 auto);
  background: var(--body-background, #1B2235);
  color: var(--text-color, snow);
}

div[id|="game"] {
  background-color: var(--block-background, none);
  border-radius: var(--block-border-radius, 10px);
  padding: var(--block-padding, 10px);
  box-shadow: var(--block-box-shadow, none);
  margin: var(--block-margin, 0 0 10px);
}

#game-title, #game-info, #game-restart-button-wrapper {
  background: none;
  box-shadow: none;
}

#game-scores > div {
  padding: var(--player-padding, 3px);
}

#game-scores > div:not([id*='-score']) {
  background-color: var(--player-background, none);
  border-radius: var(--player-border-radius, 10px);
  box-shadow: var(--player-box-shadow, none);
  width: var(--player-width, 30px);
  text-align: center;
}

#game-wrapper {
  width: 100%;
  padding: 20px;
}

#tic-tac-toe-board {
  width: 180px;
}

#tic-tac-toe-board > div {
  width: 60px;
  height: 60px;
  border: 1px solid var(--tic-tac-toe-border-color, #000000);
  border-left: none;
  border-top: none;
}

#tic-tac-toe-board > div:nth-child(3n) {
  border-right: none;
}

#tic-tac-toe-board > div:nth-child(n+7) {
  border-bottom: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-background, rgba(0, 0, 0, 0.5));
  z-index: 10; /* Ensure it's on top */
}

#loading-wrapper,
#opponent-alert-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the text */
  color: var(--text-color, snow);
  font-size: var(--loading-wrapper-font-size, 24px);
  z-index: 11; /* Ensure it's above the overlay */
  display: flex; /* Use Flexbox to align columns side by side */
}

#opponent-alert-wrapper {
  font-size: var(--alert-wrapper-font-size, 18px);
}

#opponent-alert-buttons * {
  margin: 10px 9px 0 0;
}

.x-winning-square-row, /* Row */
.x-winning-square-column, /* Column */
.x-winning-square-diagonal-main, /* Top-left to bottom-right */
.x-winning-square-diagonal-secondary, /* Top-right to bottom-left */
.o-winning-square-row, /* Row */
.o-winning-square-column, /* Column */
.o-winning-square-diagonal-main, /* Top-left to bottom-right */
.o-winning-square-diagonal-secondary { /* Top-right to bottom-left */
  position: relative;
  overflow: visible;
}

/* X winning strike-through */
.x-winning-square-row::before,
.x-winning-square-column::before,
.x-winning-square-diagonal-main::before,
.x-winning-square-diagonal-secondary::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: var(--strike-line-thickness, 2px);
  background-color: var(--player-X-color, snow);
}

/* O winning strike-through */
.o-winning-square-row::before,
.o-winning-square-column::before,
.o-winning-square-diagonal-main::before,
.o-winning-square-diagonal-secondary::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: var(--strike-line-thickness, 2px);
  background-color: var(--player-O-color, snow);
}

/* For left to right strike-through: */
.x-winning-square-row::before,
.o-winning-square-row::before {
  width: 105%;
  transform: translateY(-50%);
}

/* For top to bottom strike-through: */
.x-winning-square-column::before,
.o-winning-square-column::before {
  width: 105%;
  transform: translateX(-3%) rotate(90deg);
}

/* For 45deg diagonal strike-through: */
.x-winning-square-diagonal-main::before,
.o-winning-square-diagonal-main::before {
  width: 145%;
  transform: translate(-10%, -10%) rotate(45deg);
}

/* For -45deg diagonal strike-through: */
.x-winning-square-diagonal-secondary::before,
.o-winning-square-diagonal-secondary::before {
  width: 145%;
  height: 2px;
  transform: translate(-15%, -15%) rotate(-45deg);
}

#tic-tac-toe-board > .highlight {
  background-color: var(--tic-tac-toe-border-color);
}

#game-scores > div[id|="player"].highlight {
  box-shadow: var(--current-player-box-shadow);
}

#game-scores > #player-x,
#game-scores > #player-o {
  cursor: pointer;
}

#game-scores > .player-x,
#tic-tac-toe-board > .player-x {
  color: var(--player-X-color, snow);
}

#game-scores > .player-o,
#tic-tac-toe-board > .player-o {
  color: var(--player-O-color, snow);
}

.board-disabled {
  pointer-events: none;
  opacity: var(--board-disabled-opacity, 0.6); 
}
